beautifulsoup4==4.10.0
brotli==1.0.9
ConfigParser==5.1.0
cryptography==35.0.0
Cython==0.29.24
decorator==4.4.2
dl==0.1.0
future==0.18.2
HTMLParser==0.0.2
ipaddr==2.2.0
keyring==23.2.1
lxml>=4.6.3
numpy==1.21.4
openpyxl==3.0.6
ordereddict==1.1
protobuf==3.19.1
psutil==5.8.0
pydantic==1.8.2
pyOpenSSL==21.0.0
python_dateutil==2.8.2
python_stdnum==1.17
selenium==4.0.0a5
tg.devtools==2.4.3
tqdm==4.56.2
wincertstore==0.2.1
xmlrpclib==1.0.1
